@font-face {
    font-family: "Apercu";
    src: URL("/assets/font/apercu/Apercu\ Bold.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Apercu";
    src: URL("/assets/font/apercu/Apercu\ Medium.otf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Apercu";
    src: URL("/assets/font/apercu/Apercu\ Light.otf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "University";
    src: url("/assets/font/University.otf") format("truetype");
}

body {
    font-family: "Apercu" !important;
    background-color: #FFF5EE !important;
}

.box {
    width: 500px;
}

.clr1 {
    height: 100vh !important;
}


.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar.default {
    background: #FFF5EE;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active {
    background: #1D274B;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}

.navbar-scroll {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 40%);
    transition-duration: 0.6s;
}



.logo-join {
    width: 50%;
    height: auto;
    transform: translateX(-50%);
    left: 20%;
    position: relative;
}

.logo-join-orange {
    width: 44.3%;
    height: auto;
    transform: translateX(-50%);
    left: 20%;
    position: relative;
}

.logo-12 {
    width: 32%;
    height: auto;
    margin-top: 10px;
    margin-left: 250px;
    /* transform: translateX(-50%);
    left: 20%;
    position: relative; */
}

.logobg-12 {
    width: 15%;
    height: auto;
    top: 55px;
    right: 30px;
    /* transform: translateX(-50%);
    left: 20%;
    position: relative; */
}

.button-join {
    width: 9%;
    height: auto;
    top: 16px;
    right: 150px;
    /* transform: translateX(-50%);
    left: 20%;
    position: relative; */
}

.logo-all {
    width: 7%;
    height: auto;
}

.textclr {
    color: #555;
}

.half-ellipse {
    background-color: #FAAF40;
    width: 100%;
    height: 200px;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    z-index: -1;
}

.bg {
    background-color: #FAAF40 !important;
}

.header-bg {
    background: url(img/Home\ background\ 2.webp);
    background-size: cover;
    background-position: center bottom;
    /* margin-top: 150px; */
    height: 100vh;
}

.form-bg {
    background: url(img/logo\ app\ bootcamp\ \(form\)\ 2.webp);
    background-color: #1D274B !important;
    background-size: cover;
    background-position: center bottom;
    color: #1D274B;
    /* margin-top: 150px; */
    height: 100vh;
}

.logo-header {
    width: 60%;
    margin-bottom: 100px;
    margin-left: 70px;
}

.logo-form {
    width: 85%;
    margin-top: 140px;
    margin-left: 75px;
}

.mt-n {
    margin-top: -180px;
}

.text-change1 {
    color: #fff;
}

.text-change2 {
    color: #fff;
}

.text-change3 {
    color: #fff;
}

.text-change4 {
    color: #fff;
}

.text-orange {
    color: #F6921E !important;
}

#trapezoid {
    margin-top: -3vw;
    margin-left: -21vw;
    width: 31vw;
    height: 13vw;
    border-top: 6px solid #FAAF40;
    border-bottom: 6px solid #FAAF40;
    transform: perspective(15vw) rotateY(-24deg);
}

.whyf {
    font-family: "University";
    font-size: 55px;
}

.wrapper {
    position: relative;
}

.navi {
    background-color: #eaeaea;
    height: 40px;
}

#info1 {
    position: relative;
    top: -33px !important;
    right: 8px;
    height: 20px;
    padding: 0;
    transition: all 0.8s;
}

#info1.notactive {
    top: -200px !important;
}


#info2 {
    position: absolute;
    top: -200px !important;
    right: 1057px;
    padding: 0;
    transition: all 0.8s;
}

#butjoin {
    top: -100px !important;
    transition: all 0.8s;
}

#butjoin.active {
    top: 16px !important;
}

#info2.active {
    top: -5px !important;
}

#logo12 {
    position: relative;
    top: -20px;
    right: 8px;
    height: 20px;
    padding: 0;
    transition: all 0.8s;
}

#logo12.notactive {
    top: -150px;
}

.p {
    padding: 0.75rem !important;
}

.visible-md {
    visibility: visible !important;
}

.w-md-50 {
    width: 50% !important;
}

.w-md-100 {
    width: 75% !important;
}

.w-md {
    width: 90% !important;
}

.w-md-30-btn {
    width: 30% !important;
}

.w-md-70-btn {
    width: 70% !important;
}

.speaker1 {
    height: 25%;
    width: 25%;
}

.tgl1-box {
    background-color: #45013C;
}

.t-box1 {
    width: 100%;
    height: 65px;
    background-color: white;
    margin-left: -10px;
    position: relative;
    z-index: 1;
}

.t-box2 {
    width: 100%;
    height: 65px;
    background-color: white;
    margin-left: -10px;
    position: relative;
    z-index: 1;
}

.btn-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: #F6921E;
    --bs-btn-border-color: #F6921E;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #243870;
    --bs-btn-hover-border-color: #243870;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F6921E;
    --bs-btn-active-border-color: #F6921E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #F6921E;
    --bs-btn-disabled-border-color: #F6921E;
}


.btn-outline-orange {
    --bs-btn-color: #243870;
    --bs-btn-border-color: #F6921E;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #F6921E;
    --bs-btn-hover-border-color: #F6921E;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: ##F6921E;
    --bs-btn-active-border-color: #F6921E;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #F6921E;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
}

.ivy {
    width: 75%;
    height: 30%;
}

.oxbridge {
    width: 60%;
    height: 30%;
}

.UC {
    width: 20%;
    height: 20%;
}

.asian {
    width: 40%;
    height: 35%;
}

.num1 {
    width: 6%;
    height: 3%;
    float: left;
    position: relative;
    z-index: 2;
}

.num2 {
    width: 6%;
    height: 1%;
    float: left;
    position: relative;
    z-index: 2;
}


hr {
    height: 10px !important;
}

.textbg {
    font-family: "Apercu";
    font-weight: bold;
}

.textbg-10 {
    font-family: "Apercu";
    font-weight: bold;
    font-size: calc(1.3rem + 0.6vw) !important;
}

.univtxt {
    font-family: "University";
}

.logo-all {
    width: 7%;
    height: auto;
}

br {
    display: block;
}

.br1 {
    word-break: break-all;
    display: block;
}

.footer {
    background: #16489F;
    color: #fff;
    font-size: 18px;
    padding: 70px 0;
}

.footer a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.about {
    position: relative;
    z-index: 3;
}

.about-ico {
    width: 20%;
    height: auto;
}

.mb-6 {
    margin-bottom: 2.2rem !important;
}

.dislink {
    pointer-events: none;
    cursor: default;
}

.frm-btn {
    background-color: #C5D6EE !important;
    color: #212955 !important;
    width: 49%;

}

.select {
    background-color: #fff !important;
    color: #736767 !important;
    border-color: #736767;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px !important;
    line-height: 20px !important;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 28px 10px 12px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    background: url(https://cdn.mailerlite.com/images/default/dropdown.svg) no-repeat right .75rem center/8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.submit button {
    background-color: #E78724 !important;
    border: none !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    color: #fff !important;
    cursor: pointer;
    font-family: Verdana, Geneva, sans-serif !important;
    font-size: 19px !important;
    font-weight: 700 !important;
    line-height: 21px !important;
    height: auto;
    padding: 10px !important;
    width: 100% !important;
    box-sizing: border-box !important
}

.submit {
    margin: 0 0 20px 0;
    float: left;
    width: 100%
}

.submit button:hover {
    background-color: #333 !important
}

.btn-check:checked+.btn {
    background-color: #E78724 !important;
    color: #fff !important;
    box-shadow: none !important;
    border: 1px solid #fff;

}

.button-bottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
}

@media (max-width: 768px) {
    br {
        display: none;
    }

    .about-desc {
        font-size: 14px;
    }

    .br1 {
        word-break: initial;
    }

    .half-ellipse {
        position: relative;
        width: 100%;
        height: 100px;
    }

    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #555;
    }

    .logo-all {
        width: 20%;
        height: auto;
    }

    .clr1 {
        height: 55vh !important;
    }

    #trapezoid {
        margin-left: -36vw;
        margin-top: 10vw;
        margin-bottom: 20vw;
        width: 85vw;
        height: 33vw;
        border-top: 3px solid #FAAF40;
        border-bottom: 3px solid #FAAF40;
        transform: perspective(45vw) rotateY(-25deg);
    }

    .whyf {
        font-family: "University";
        font-size: 35px;
    }


    .visible-md {
        visibility: hidden !important;
    }

    .w-md-50 {
        width: 100% !important;
    }

    .w-md-30-btn {
        width: 100% !important;
    }

    .w-md-70-btn {
        width: 100% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .w-md {
        width: 90% !important;
    }

    .w-md2 {
        width: 90% !important;
    }

    .p {
        padding: 0rem !important;
    }

    .num1 {
        width: 10%;
        height: 3%;
        float: left;
    }

    .num2 {
        width: 10%;
        height: 1%;
        float: left;
    }

    .speaker1 {
        height: 35%;
        width: 45%;
    }

    .header-bg {
        background: url(img/Home\ background\ 2.webp);
        background-size: cover;
        background-position: center;
        margin-top: 0;
        top: -200px;
        height: 40vh;
    }


    .logo-header {
        width: 95%;
        margin: 0;
        top: 110px !important;
        left: 15px;
        position: absolute;
    }

    .form-bg {
        background: url(img/logo\ app\ bootcamp\ \(form\)\ 2.webp);
        background-color: #1D274B !important;
        background-size: cover;
        background-position: center;
        margin-top: 0;
        /* top: -200px; */
        height: auto;
    }

    .logo-form {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        /* margin-top: 175px;
        margin-left: 0px; */
    }

    .mt-n {
        margin-top: -20px;
    }

    .logo-all {
        width: 20%;
        height: auto;
    }

    .textbg-10 {
        font-family: "Apercu";
        font-weight: bold;
        top: 45px;
        position: absolute;
        font-size: calc(0.75rem) !important;
    }

    .t-box2 {
        width: 100%;
        height: 80px;
        background-color: white;
        margin-left: -10px;
        position: relative;
        z-index: 1;
    }

    .about-ico {
        width: 35%;
        height: auto;
    }

    .mb-6 {
        margin-bottom: 0.9rem !important;
    }
}